# -----------------------------------------------------------
# General
# -----------------------------------------------------------
.ant_targets
.DS_Store
.metadata
.svn
build/
/artifacts/
/tmp/
cell-screenshots/
# -----------------------------------------------------------
# Model Checking Results
# -----------------------------------------------------------
*.csv

# -----------------------------------------------------------
# Latex
# -----------------------------------------------------------
*.synctex.gz
*.aux
*.log
*.*.synctex.gz
*.*.aux
*.*.log

# -----------------------------------------------------------
# IDEA
# -----------------------------------------------------------
.idea
workspace.xml

# -----------------------------------------------------------
# JUNIT
# -----------------------------------------------------------
junitvmwatcher*.properties
build.properties
TEST-*.xml
junit*.properties

# -----------------------------------------------------------
# MPS
# -----------------------------------------------------------
classes_gen
source_gen
source_gen.caches
test_gen
test_gen.caches
code/languages/*/*.iws
code/languages/*/build.properties
code/languages/*/TEST*.xml
code/languages/org.iets3.core/build/tmp
code/languages/org.iets3.opensource/.mps/libraries.xml

# -----------------------------------------------------------
# GRADLE
# -----------------------------------------------------------
.gradle/

# -----------------------------------------------------------
# Auto-generated icons
# -----------------------------------------------------------
*CharIcon.png
projectlibraries.overrides.properties

# Test results
TESTS-*.xml
/system/
