# To override values defined in this file create projectlibraries.overrides.properties and put overridden values there.
mbeddr.plattform=${mbeddr.github.core.home}/code/languages
mbeddr.sl-all=${mbeddr.github.core.home}/code/plugins